<%= form_with(model: task, local: true) do |t| %>

    <% if task.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% task.errors.full_messages.each do |t| %>
                <li><%= t %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= t.label :status, 'ステータス' %>
    <%= t.text_field :status %>
    

    <%= t.label :content, 'タスク' %>
    <%= t.text_field :content %>
    
    <%= t.submit '投稿' %>
<% end %>