<h1>id:<%= @task.id %>のタスク詳細ページ</h1>

<%= @task.content %>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'このタスクを編集する', edit_task_path %>
<%= link_to 'このタスクを消去する', @task, method: :delete, data: {confirm: '本当に削除してよろしいですか'} %>